*,
*::before,
*::after, {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .container {
    flex-direction: column;
}

nav,
header,
footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.navbar h2 {
    margin-right: auto;
    font-size: 32px;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 22px;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.navbar a:hover {
    color:#3882F6;
}

header h1 {
   font-size: 42px;
}

.header_left {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    gap: 0px;
    align-self: center;
}

.header img {
    border-radius: 6px;
}

header {
    padding: 40px;
    font-size: 24px;
}

button {
    width: 120px;
    height: 50px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.section1 h2 {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.section1 .container {
    flex-direction: column;
}

.categories {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.section1 img {
    border: 3px solid #3882F6;
    border-radius: 8px;
    margin-bottom: -20px;
}

.categories div {
    flex: initial;
    flex-basis: 150px;
    padding: 5px 40px;
    color: #1F2937;
    font-size: 24px;
}

.section2 {
    background-color: #E5E7EB;
    padding: 50px;
}

.section2 p {
    max-width: 1000px;
    color: #606366;
}

.section2 .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2 :nth-of-type(1) {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 0;
    font-weight: 100;
}

.section2 :nth-of-type(2) {
    font-size: 24px;
    font-weight: 700;
    margin-top: 8px;
    color:#1F2937;
    align-self: flex-end;
}

.section3 {
    background-color: #3882F6;
    border-radius: 8px;
    color:#F9FAF8;
    margin: 50px auto;
    max-width: 1200px;
    font-size: 24px;
}

.section3 .container {
    width: 80%;
    align-items: center;
    justify-content: center;
}

.section3 button {
    font-weight: bold;
    font-size: 22px;
    border: 2px solid;
}

.section3 a:hover,
.header_left a:hover {
    color:#1F2937;
}

.s3_left {
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.s3_left :nth-of-type(1) {
    margin-bottom: 5px;
    font-weight: bold;
}

.s3_left :nth-of-type(2) {
    margin-top: 0px;
}

.footer p {
    font-size: 18px;
}